{% extends "hotel_managment/base2.html" %}

{% block content %}
<div class="glass-card">
    <div style="display:flex; justify-content:space-between; align-items:center;">
        <h2>قائمة الغرف</h2>
        <a href="{% url 'room_add' %}" class="btn-submit" style="width:auto; padding:10px 20px; text-decoration:none;">+ إضافة غرفة</a>
    </div>
    <table style="width:100%; margin-top:20px; border-collapse: collapse;">
        <thead>
            <tr style="background:var(--peony); color:var(--evergreen);">
                <th style="padding:12px;">رقم الغرفة</th>
                <th>النوع</th>
                <th>السعر</th>
                <th>هل الغرفة  فارغة</th>
                <th>العمليات</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr style="border-bottom:1px solid var(--peony); text-align:center;">
                <td style="padding:12px;">{{ room.number }}</td>
                <td>{{ room.room_type }}</td>
                <td>{{ room.price }}</td>
                <td>{{ room.is_available }}</td>
                <td>
            <a href="{% url 'room_edit' room.id %}" style="display: inline-block; padding: 6px 10px; border: 1px solid #555;
            border-radius: 4px; text-decoration: none; color: #000; font-size: 14px; margin-left: 5px;"> تعديل </a>

            <a href="{% url 'room_delete' room.id %}" style="display: inline-block; padding: 6px 10px; border: 1px solid #900; 
            border-radius: 4px; text-decoration: none; color: #900; font-size: 14px; margin-left: 5px;"> حذف </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}